.choice_categorie
  {
    margin-top: 5em;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.CategorieBoissons{
    border: 0.3em solid black;
    padding: 3em 6em 3em 6em;
    border-radius: 10%;
    font-size: 1.15em;
    color: white;
    background-image: url("./../../../public/img/carte/boissons/coca.jpg");
    background-size: cover;
    background-position: center;
}